<% if @result[:count].eql? 0 %>
  <h4><i class="icon-close"></i> Sorry, No flights match your query.</h4>
<% else %>
  <h4><%= pluralize(@result[:count], 'result') %></h4>
<% end %>

<ul class="res">
  <% @result[:results].each do |flight| %>
    <li>
      <div class="single-flight">
        <%= form_tag(new_booking_path, method: :get) do%>
          <%= hidden_field_tag(:flight_id, flight[:id]) %>
          <span class="airline">
            <%= ze_logo = logo %>
            <%= hidden_field_tag(:airline_logo, parse_html(ze_logo, "//img").attr('src')) %>
            <%= flight[:airline] %>
            <%= hidden_field_tag(:airline, flight[:airline]) %>
            <small><%= flight[:fnumber] %></small>
            <%= hidden_field_tag(:flight_number, flight[:fnumber]) %>
          </span>
          <span class="dtimes">
            <time><%= flight[:dtime] %></time>
            <%= hidden_field_tag(:dtime, flight[:dtime]) %>
            <%= hidden_field_tag(:ddate, flight[:ddate]) %>
            <%= flight[:dport][:name] %>
            <%= hidden_field_tag(:dname, flight[:dport][:name]) %>
            <small><%= flight[:dport][:location] %></small>
            <%= hidden_field_tag(:dlocation, flight[:dport][:location]) %>
          </span>
          <span class="to"><i class="icon-arrow-right"></i></span>
          <span class="atimes">
            <time>
              <%= flight[:atime] %>
              <%= hidden_field_tag(:atime, flight[:atime]) %>
              <small>- <%= flight[:adate] %></small>
              <%= hidden_field_tag(:adate, flight[:adate]) %>
            </time>
            <%= flight[:aport][:name] %>
            <%= hidden_field_tag(:aname, flight[:aport][:name]) %>
            <small><%= flight[:aport][:location] %></small>
            <%= hidden_field_tag(:alocation, flight[:aport][:location]) %>
          </span>
          <span class="price">
            <%= flight[:price] %>
            <%= hidden_field_tag(:price, flight[:price]) %>
            <%= hidden_field_tag(:passengers, @result[:passengers]) %>
          </span>
          <button class="booking">Book Now</button>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
