<% if @result[:count].eql? 0 %>
  <h4><i class="icon-close"></i> Sorry, No flights match your query.</h4>
<% else %>
  <h4><%= pluralize(@result[:count], 'result') %></h4>
<% end %>

<ul class="res">
  <% @result[:results].each do |flight| %>
    <li>
      <div class="single-flight">
        <%= form_tag(new_booking_path, method: :get) do%>
          <%= hidden_field_tag(:flight_id, flight.id) %>
          <span class="airline">
            <%= ze_logo = logo %>
            <%= hidden_field_tag(:airline_logo, parse_html(ze_logo, "//img").attr('src')) %>
            <%= flight.airline %>
            <%= hidden_field_tag(:airline, flight.airline) %>
            <small><%= flight.flight_number %></small>
            <%= hidden_field_tag(:flight_number, flight.flight_number) %>
          </span>
          <span class="dtimes">
            <time><%= flight.departure_time %></time>
            <%= hidden_field_tag(:dtime, flight.departure_time) %>
            <%= hidden_field_tag(:ddate, flight.ddate) %>
            <%= flight.departure_location.name %>
            <%= hidden_field_tag(:dname, flight.departure_location.name) %>
            <small><%= flight.departure_location.location %></small>
            <%= hidden_field_tag(:dlocation, flight.departure_location.location) %>
          </span>
          <span class="to"><i class="icon-arrow-right"></i></span>
          <span class="atimes">
            <time>
              <%= flight.arrival_time %>
              <%= hidden_field_tag(:atime, flight.arrival_time) %>
              <small>- <%= flight.adate %></small>
              <%= hidden_field_tag(:adate, flight.adate) %>
            </time>
            <%= flight.arrival_location.name %>
            <%= hidden_field_tag(:aname, flight.arrival_location.name) %>
            <small><%= flight.arrival_location.location %></small>
            <%= hidden_field_tag(:alocation, flight.arrival_location.location) %>
          </span>
          <span class="price">
            <%= flight.flight_price %>
            <%= hidden_field_tag(:price, flight.flight_price) %>
            <%= hidden_field_tag(:passengers, @result[:passengers]) %>
          </span>
          <button class="booking">Book Now</button>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
