<% provide(:title, "View Bookings") %>

<section>
  <div class="main-content">
    <h1>View your bookings</h1>

    <div class="past-bookings">
      <% @bookings.each do |booking| %>
          <% flight = Flight.find(booking.flight_id) %>
          <% user = User.find(booking.user_id) %>
          <% dept = flight.departure_location %>
          <% arr = flight.arrival_location %>

          <div class="booking">
              <div class="logo">
                  <%= logo %>
              </div>
              <div class="details">
                  <span><%= flight.airline %></span> <span><%= dept.name %></span> <i class="icon-plane"></i> <span><%= arr.name %></span>
              </div>
              <div class="view">
                  <%= link_to "View", booking %>
                  <% if flight_expired(flight.departure_date) %>
                    <%= link_to booking, method: :delete, class: "cancel" do %>
                      <i class="icon-trash"></i> Cancel
                    <% end %>
                  <% end %>
              </div>
          </div>
      <% end %>
    </div>
  </div>
</section>
