<% provide(:title, "Bookings") %>
<article>
  <section class="main-content">
    <h1>Book your flight</h1>

    <section class="booking-pg">
        <nav><i class="icon-plane"></i> &nbsp;&nbsp;<%= dlocation %> <i class="icon-arrow-right rpt"></i> <%= alocation %></nav>
        <div class="review-booking">
            <section>
                <nav>Review your booking</nav>
                <div class="airline">
                    <%= logo(airline_logo) %>
                    <span><%= airline %></span>
                    <span><%= flight_number %></span>
                </div>
                <div class="loc_details">
                    <span><%= dname %></span>
                    <span><%= dtime %> | <%= ddate %></span>
                    <span><%= dlocation %></span>
                </div>
                <div class="sep">
                    <i class="icon-plane"></i>
                </div>
                <div class="arr_details">
                    <span><%= aname %></span>
                    <span><%= atime %> | <%= adate %></span>
                    <span><%= alocation %></span>
                </div>
            </section>
            <aside>
                <nav>Passenger details</nav>
                <%= render "form",  flight_id: flight_id, price: price, passengers: passengers %>
            </aside>
        </div>
    </section>
  </section>
</article>
