<% provide(:title, "Your Booking") %>
<article>
    <section class="main-content">
        <h1>Booking Details</h1>

        <section class="booking-pg">
            <nav class="navigation">
                <%= link_to booking_url(@booking), class: "active" do %>
                    <i class="icon-eye"></i> Show
                <% end %>
                <%= link_to edit_booking_url @booking do %>
                    <i class="icon-pencil"></i> Edit
                <% end %>
            </nav>
            <div class="review-booking">
                <section>
                    <nav>Booking</nav>
                    <div class="airline">
                        <%= logo %>
                        <span><%= @flight.airline %></span>
                        <span><%= @flight.flight_number %></span>
                    </div>
                    <div class="loc_details">
                        <span><%= @flight.departure_location.name %></span>
                        <span><%= @flight.departure_time %> | <%= @flight.ddate %></span>
                        <span><%= @flight.departure_location.location %></span>
                    </div>
                    <div class="sep">
                        <i class="icon-plane"></i>
                    </div>
                    <div class="arr_details">
                        <span><%= @flight.arrival_location.name %></span>
                        <span><%= @flight.arrival_time %> | <%= @flight.adate %></span>
                        <span><%= @flight.arrival_location.location %></span>
                    </div>
                    <div class="passenger-details">
                        <h4>Passenger Details</h4>
                        <% @booking.passengers.each do |p| %>
                            <div class="person-icon">
                                <i class="icon-people"></i>
                            </div>
                            <div class="person">
                                <span><strong>Name:</strong> <%= p.first_name %> <%= p.last_name %></span>
                                <span><strong>Email:</strong> <%= p.email %></span>
                            </div>
                        <% end %>
                    </div>
                </section>
                <aside>
                    <nav>Payment</nav>
                    <span class="booking-number"><strong>Booking Number:</strong> <%= @booking.booking_code %></span>
                    <span class="final-fare"><%= number_to_currency(@booking.price, unit: '$') %></span>
                </aside>
            </div>
        </section>
    </section>
</article>
