<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bawa booking confrimation</title>
    <style type="text/css">
      @import url(http://fonts.googleapis.com/css?family=Lato:400);

      /* Take care of image borders and formatting */

      img {
        max-width: 600px;
        outline: none;
        text-decoration: none;
        -ms-interpolation-mode: bicubic;
      }

      a {
        text-decoration: none;
        border: 0;
        outline: none;
      }

      a img {
        border: none;
      }

      /* General styling */

      td, h1, h2, h3  {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 400;
      }

      body {
        -webkit-font-smoothing:antialiased;
        -webkit-text-size-adjust:none;
        width: 100%;
        height: 100%;
        color: #37302d;
        background: #ffffff;
      }

      table {
        border-collapse: collapse !important;
      }


      h1, h2, h3 {
        padding: 0;
        margin: 0;
        color: #ffffff;
        font-weight: 400;
      }

      h3 {
        color: #21c5ba;
        font-size: 24px;
      }

      .important-font {
        color: #21BEB4;
        font-weight: bold;
      }

      .hide {
        display: none !important;
      }

      .force-full-width {
        width: 100% !important;
      }
    </style>

    <style type="text/css" media="screen">
      @media screen {
        /* Thanks Outlook 2013! http://goo.gl/XLxpyl*/
        td, h1, h2, h3 {
          font-family: 'Lato', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
        }
      }
    </style>

    <style type="text/css" media="only screen and (max-width: 480px)">
      /* Mobile styles */
    @media only screen and (max-width: 480px) {
      table[class="w320"] {
        width: 320px !important;
      }

      table[class="w300"] {
        width: 300px !important;
      }

      table[class="w290"] {
        width: 290px !important;
      }

      td[class="w320"] {
        width: 320px !important;
      }

      td[class="mobile-center"] {
        text-align: center !important;
      }

      td[class="mobile-padding"] {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 20px !important;
      }

      td[class="mobile-block"] {
        display: block !important;
        width: 100% !important;
        text-align: left !important;
        padding-bottom: 20px !important;
      }

      td[class="mobile-border"] {
        border: 0 !important;
      }

      td[class*="reveal"] {
        display: block !important;
      }
    }
    </style>
  </head>
  <body class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">
    <table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%" >
      <tr>
        <td align="center" valign="top" bgcolor="#ffffff"  width="100%">

          <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
              <td style="border-bottom: 3px solid #31a39e;" width="100%">
                <center>
                  <table cellspacing="0" cellpadding="0" width="500" class="w320">
                    <tr>
                      <td valign="top" style="padding:10px 0; text-align:left;" class="mobile-center">
                        <img width="250" height="62" src="http://cdn.kagumba.com/assets/bawa.svg">
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
            <tr>
              <td background="http://cdn.kagumba.com/assets/bawa-back.png" bgcolor="#8b8284" valign="top" style="background: url(http://cdn.kagumba.com/assets/bawa-back.png) no-repeat center; background-color: #8b8284; background-position: center;">
                <!--[if gte mso 9]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;height:303px;">
                <v:fill type="tile" src="http://cdn.kagumba.com/assets/bawa-back.png" color="#8b8284" />
                <v:textbox inset="0,0,0,0">
                <![endif]-->
                <div>
                  <center>
                    <table cellspacing="0" cellpadding="0" width="530" height="303" class="w320">
                      <tr>
                        <td valign="middle" style="vertical-align:middle; padding-right: 15px; padding-left: 15px; text-align:left;" height="303">

                          <table cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                              <td>
                                <h1>BOOKING CONFIRMATION</h1><br>
                                <h2>Below are details of your booking. Click the button to review booking on the website.</h2>
                                <br>
                              </td>
                            </tr>
                          </table>

                          <table cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                              <td class="hide reveal">
                                &nbsp;
                              </td>
                              <td style="width:150px; height:33px; background-color: #31a39e;" >
                                <div>
                                  <a href="<%= @url %>" style="background-color:#31a39e;border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">View booking on Bawa</a>
                                </div>
                              </td>
                              <td>
                                &nbsp;
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </center>
                </div>
                <!--[if gte mso 9]>
                </v:textbox>
                </v:rect>
                <![endif]-->
              </td>
            </tr>
            <tr>
              <td valign="top">

                <center>
                  <table cellspacing="0" cellpadding="0" width="500" class="w320">
                    <tr>
                      <td valign="top" style="border-bottom:1px solid #a1a1a1;">


                        <table cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td style="padding: 30px 0;" class="mobile-padding">

                              <table class="force-full-width" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td style="text-align: left;">
                                    <span class="important-font">
                                      <%= @user.first_name %> <%= @user.last_name %> <br>
                                    </span>
                                    <%= @user.email %><br>
                                  </td>
                                  <td style="text-align: right; vertical-align:top;">
                                    <span class="important-font">
                                      Booking Id: <%= @booking.booking_code %><br>
                                    </span>
                                    <%= @booking.updated_at.strftime("%B %d, %Y") %>

                                  </td>
                                </tr>
                              </table>

                            </td>
                          </tr>
                          <tr>
                            <td style="padding-bottom: 30px;" class="mobile-padding">

                              <table class="force-full-width" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td class="mobile-block" width="100%">
                                    <table cellspacing="0" cellpadding="0" class="force-full-width">
                                      <tr>
                                        <td class="mobile-border" style="background-color: #31a39e; color: #ffffff; padding: 5px; border-right: 3px solid #ffffff;">
                                          Booking Details
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="background-color: #ebebeb; padding: 8px; border-top: 3px solid #ffffff;">
                                          <strong>Airline:</strong> <%= @flights.airline %> <small><%= @flights.flight_number %></small><br>
                                          <br>
                                          <strong>From:</strong><br>
                                          <i><%= @flights.departure_location.name %></i>, ( <%= @flights.departure_location.name %> ) - <%= @flights.departure_time %> | <%= @flights.ddate %><br>
                                          <strong>To:</strong><br>
                                          <i><%= @flights.arrival_location.name %></i>, ( <%= @flights.arrival_location.location%> ) - <%= @flights.arrival_time %> | <%= @flights.adate %><br>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <br>
                                <tr>
                                  <td class="mobile-block" width="100%">
                                    <table cellspacing="0" cellpadding="0" class="force-full-width">
                                      <tr>
                                        <td class="mobile-border" style="background-color: #31a39e; color: #ffffff; padding: 5px; border-right: 3px solid #ffffff;">
                                          Passengers details
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="background-color: #ebebeb; padding: 8px; border-top: 3px solid #ffffff;">
                                          <% @booking.passengers.each do |p| %>
                                            <strong>Name: </strong> <%= p.first_name %> <%= p.last_name %><br>
                                            <strong>Email: </strong> <%= p.email %><br>
                                            <hr>
                                            <br>
                                        <% end %>
                                      </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <br>
                                <tr>
                                <td class="mobile-block" width="100%">
                                  <table cellspacing="0" cellpadding="0" class="force-full-width">
                                    <tr>
                                      <td style="background-color: #31a39e; color: #ffffff; padding: 5px;">
                                        Amount
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="background-color: #ebebeb; padding: 8px; border-top: 3px solid #ffffff;">
                                        <%= number_to_currency(@booking.price, unit: '$') %>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table cellspacing="0" cellpadding="0" width="500" class="w320">
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                          <td class="mobile-padding" style="text-align:left;">
                            <br>
                            Thank you for your business.
                            <br>
                            <br>
                            Bawa
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
