<h4><%= pluralize(@result[:count], 'result') %></h4>

<ul class="res">
  <% @result[:results].each do |flight| %>
    <li>
      <div class="single-flight">
        <span class="airline"><%= logo %> <%= flight[:airline] %> <small><%= flight[:fnumber] %></small> </span>
        <span class="dtimes">
          <time><%= flight[:dtime] %></time>
          <%= flight[:dport][:name] %>
          <small><%= flight[:dport][:location] %></small>
        </span>
        <span class="to"><i class="icon-arrow-right"></i></span>
        <span class="atimes">
          <time>
            <%= flight[:atime] %>
            <small>- <%= flight[:adate] %></small>
          </time>
          <%= flight[:aport][:name] %>
          <small><%= flight[:aport][:location] %></small>
        </span>
        <span class="price">
          <%= flight[:price] %>
        </span>
        <button class="booking">Book Now</button>
      </div>
    </li>
  <% end %>
</ul>
